.plans {
	@extend %flexbox;
	@include flex-flow(wrap);
	padding: 50px 0 30px 0;

	.plan {
		list-style: none;
		padding: 0;
		margin: 0 10px 50px 10px;
		text-align: center;
		border: 1px solid #eee;
		border-radius: 5px;
		box-shadow: 0px 0px 10px #eee;
		width: 100%;

		.highlighted {
			font-size: 1.2em
		}

		.pricing-cta {
			padding: 0;

			a {
				display: block;
				box-sizing: border-box;
				padding: 20px 0;
				border-radius: 0 0 2px 2px;
				border: 0;
			}
		}

		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
		}


		
		li {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			padding: 20px 0;
			h3 {
				padding: 0;
				margin: 0;
				color: #fff;
				font-weight: normal;
			}
		}
	}
}

/* ____________ flexbox ___________________*/
.flexbox-container { 
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	 
}

.flexbox-item {
	/*min-height: 100px;*/
	margin: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #eee;
	
}


/* ___________ images ____________*/

.image {
	position: relative;
	width: 400px
}

/*the style for the actual image*/
.image_img {
	display: block; 
	width: 100%; /*to take up the max width of 400px of .image*/
}

/*Styles the text and blur over the image*/

.image_overlay {
	position: absolute; /*works with the position of .image*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(29, 116, 29, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	/* _______ stuff for the actual transitions _________*/

	/*originally 0 so it is hidden by default*/
	opacity: 0;
	/*opacity transitions at a slower speed*/
	transition: opacity 0.25s;
}

/* _______ stuff for the text to come up _________*/
/*Target every direct child of .image_overlay 
so, .image_title and .image_description*/
.image_overlay > * {
	transform: translateY(20px);
	transition: transform 0.25s;/*same time as the opacity*/
}




/* ___________ When the image gets hovered over __________*/
.image_overlay:hover {
	/*shows the overlay when hovering over*/
	opacity: 1;
}

/*target the child elements .image_title and .image_description*/
.image_overlay:hover > * {
	/*allows it to start at the bottom*/
	transform: translateY(0);
}


/* __________ blur effect ___________ */
/*not supported on certain browsers*/
.image_overlay--blur {
	backdrop-filter: blur(5px);
}




/* _________ styles the title text _____________ */
.image_title {
	font-size: 2em; /*2 times the current font size*/
	font-weight: bold;
}

/* _________styles the description _____________ */
.image_description {
	/*1.25 times the current font size*/
	font-size: 1.25 em;

	/*to decrease the distance between the title and the 
	description*/
	margin-top: 0.25em;
}

